@using HandBook.DataBaseFolder;
@model HandBook.Views.Main.AddEmployeeModel
@{
    <form method="post">
        <label>Выберите сотрудника</label><br/>
        <select name="employe">
        @foreach (var dep in (List<string>) ViewData["EmployeeList"])
        {
            <option value="@dep">@dep</option>
        }
        </select><br />
        <label>@ViewData["Error Message"]</label><br />
        <input type="submit" value="Удалить" />
        <br />
    </form>
}
