@using HandBook.DataBaseFolder;
@model HandBook.Views.Main.AddEmployeeModel
@{
    <form method="post">
        <label>Выберите отдел</label><br/>
        <select name="department">
            @foreach (var dep in (List<string>)ViewData["DepartmentList"])
        {
            <option value="@dep">@dep</option>
        }
        </select><br />
            <label>Название:</label><br />
            <input type="text" name="name" /><br />
            <label>@ViewData["Error Message"]</label><br />
            <input type="submit" value="Подтвердить" />
            <br />
    </form>
}
